# Byte-compiled / optimized
__pycache__/
*.py[cod]
*.so

# Django migrations
*/migrations/*.py
*/migrations/*.pyc

# Environment variables
.env
.env.*

# Database files
*.sqlite3

# VSCode, PyCharm, etc.
.vscode/
.idea/

# Static/assets build
/staticfiles/
/media/

# Supabase
.branches
.temp

# dotenvx
.env.keys
.env.local
.env.*.local

# ignore any file named .env anywhere
**/.env

# ignore other env-like files too
**/*.env

backend/**/.env
backend/**/*.env
